.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 12%;
    margin: 0 1rem;
    padding: 1rem;
    border: 1px dotted goldenrod;
    justify-content:  flex-start;
}

.orders {
    font-size: 2rem;
    justify-content: space-evenly;
    
}

